.background{
	background-image: url(../../img/portada2.jpg);
	background-size: 100%;
}
.background2{ 
	background-image: url(../../img/fondologintransparente.jpg);
	background-size: 100%;
}
.form_login{
	background-size: 100%;
	
	border: 2px #032 solid;
	border-radius: 5px;
	width: 40%;
	margin: 12% 30% 0% 30%; 
}
.form_login form legend {

	background: url(../../img/fondotitulo.jpg);
	background-size: 100%;
	background-color: transparent;
	border: 4px;
	color:#fff;
	padding: 20px;
	margin-top: -50px;

}
.contenido{
	padding: 30px 20px 0 50px;
}
.btnin{
	margin-top: 20px;
	margin-left: 31%;
}
.btnclc{
	margin-top: 20px;
	margin-left: 10%;
}
.txtsmall{
	width: 60%;
	display: inline;
}
.txtsmall:hover{
	border: 1px #089 solid;
}
.labelform{
	width: 30%;
}
.colorspan{
	color: rgb(60,89,117);
}
.cuerpo{
	margin-left: 20%;
	margin-right: 10%;

}
.titleform{
 padding: 15px;
}
.bodyform{
 padding: 20px;
 background: transparent;
}
.bienvenida{
	text-align: right;
	padding: 10px 2px 10px 10px;
	font-size: 15px;
	float: right;
	width: 80%;
	margin-right: 3%;
}
.panel1{
	text-align: center;
	padding: 10px 2px 10px 10px;
	font-size: 15px;
	float: left;
	width: 47%;
	margin-right: 3%;
}
.panel2{
	text-align: center;
	padding: 10px 2px 10px 10px;
	font-size: 15px;
	float: right ;
	width: 47%;
	margin-right: 3%;
}
.panel3{
	text-align: center;
	padding: 10px 2px 10px 10px;
	font-size: 15px;
	float: right ;
	width: 97%;
	margin-right: 3%;
}
.texto1
{
	font-size: 80px;
	color: #337ab7;
	font-style: bold;
}
.texto2
{
	font-size: 80px;
	color: #a94442;
	font-style: bold;
}
.texto3
{
	font-size: 80px;
	color: #3c763d;
	font-style: bold;
}
 .btn-circle { width: 30px; height: 30px; text-align: center;padding: 6px 0;font-size: 12px;line-height: 1.428571429;border-radius: 25px;}
 .btn-circle.btn-lg {width: 40px;height: 40px;padding: 8px 10px;font-size: 18px;line-height:1.33;border-radius: 25px;}
 .btn-circle.btn-lg2 {width: 25px;height: 25px;padding: 4px 5px;font-size: 11px;line-height:1.33;border-radius: 25px;}